In [ ]:
# Q no:1
a = [15, 17, 11, 10, 20, 33, 99, 150, 7]

for i in a:
    if i % 2 != 0:
        print(i, end = ' ')

15 17 11 33 99 7

In [ ]:
# Q no:2
a=[10,20,30,40]
print(a)
print("sum the all number:",sum)

[10, 20, 30, 40]
sum the all number: 150

In [ ]:
# Q no:3
a=[1,2,3,4,5]
num=12345
num=str(num)
num=num[::-1]
print(num)

54321

In [56]:
# Q no:4
a= [20,30,40,44,78,80]
b= list(set(a))
b.sort()
print("Top 2 maximum number in the list is :",b[-1])
print("Top 2 maximum number in the list is :",b[-2])

Top 2 maximum number in the list is : 80
Top 2 maximum number in the list is : 78

In [45]:
# Q no:5
a = [10, 24, 23, 21, 44, 65, 75, 99,98]
b = list(set(a))
b.sort()
print("Second highest number in list is :", b[-2])

Second highest number in list is : 98

In [60]:
# Q no:6
a=("h", "a" , "c" , "b" , "d" , "f" , "e" , "i" , "g")
b=sorted(a)
print(b)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [80]:
# Q no:7
a="chhhcc"
b=""
for i in a:
  if i not in b:
     b=b+i
print(b)

ch

In [68]:
# Q no:8
vowels = 'aeiou'

v = input("Please Enter The any single alphbet: ")

if v in vowels:
  print("Your alphbet is vowel:" , v)
else:
   print("Your alphbet is not a vowel" , v)

Please Enter The any single alphbet: b
Your alphbet is not a vowel b

In [73]:
# Q no:9
n = int(input("Enter a number: "))
factorial = 1
if n < 0:
   print("Factors do not exist for negative numbers.")
elif n == 0:
   print("The factorial of 0 is 1.")
else:
   for i in range(1,n + 1):
       factorial = factorial*i
   print("The factorial of",n,"is",factorial)

Enter a number: 4
The factorial of 4 is 24

In [74]:
# Q no:10
a=["a","b","c","d"]
b=["e","f","g"]
c=a+b
print(c)

['a', 'b', 'c', 'd', 'e', 'f', 'g']